.gif {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--theme-color);
  box-shadow: 0 0 1px var(--theme-color);
  z-index: 2;
  height: var(--gif-height-width);
  width: var(--gif-height-width);
  /* max-width limited to 90vw for narrow (phone) screens:  */
  max-width: var(--content-width);
}

.gif>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}