footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  background-color: var(--background-color-light);
  transition: var(--transition-duration);
  z-index: 99999;
}

body.dark footer {
  background-color: var(--background-color-dark);
}

#attribution {
  margin-left: 2vw;
  font-size: 9px;
  color: var(--theme-color);
}