body {
    margin: 5vh 5vw 2vh;
    background-color: #eeeeee;
    font-family: Helvetica, Arial, sans-serif;
}

form {
    display: flex;
}

form>* {
    font-size: 20px;
    margin: 0;
}

input {
    padding: 10px;
    width: 100%;
    color: #33313b;
}

input:focus,
button:focus {
    outline: none;
}

button {
    cursor: pointer;
    width: auto;
    padding: 10px 20px;
    color: #eeeeee;
    background-color: #0D4B60;
    border: 0.1px solid #0D4B60;
}

button:hover {
    box-shadow: 0 0 0.5vw #33313b;
}

h2 {
    padding-top: 3vh;
    color: #33313b;
}

#error-message {
    margin: 50px 0 20px;
    text-align: center;
}

#spinner {
    /* Since the spinner image is 114px wide, calc(50% - 57px) centers it horizontally: */
    margin: 50px calc(50% - 57px) 20px;
}

.gifs-container {
    display: flex;
    justify-content: center;
    height: 500px;
    overflow-y: scroll;
}

.gifs {
    /* width: 1020px; */
    /* line-height: 0; */
    /* -webkit-column-count: 5; */
    -webkit-column-gap: 5px;
    /* -moz-column-count: 5; */
    -moz-column-gap: 5px;
    /* column-count: 5; */
    column-gap: 5px;
}

/* .gifs-container::-webkit-scrollbar {
    display: none;
} */

.gif {
    /* margin-bottom: 5px; */
    width: 200px;
    height: auto;
    cursor: pointer;
}

.horizontal-button {
    position: relative;
    /* height: 200px; */
    height: 30px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 20; */
    /* transform: translateX(-60px); */
    /* background-color: rgba(220, 220, 220, 0.5); */
    /* color: rgb(20, 20, 20); */
    background-color: #0D4B60;
    color: #eeeeee;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

#right-button {
    /* margin-left: 10px; */
    /* min-width: 50px; */
}

#left-button {
    /* margin-right: 10px; */
}

/* .left-button {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    width: 0;
    margin: 0;
}

.left-button-visible {
    visibility: visible;
    opacity: 1;
    min-width: 50px;
    margin-right: 10px;
    transition: 0.3s
} */