:root {
    --content-width: 90vw;
    --top-bar-height: 70px;
    --search-bar-height: 50px;
    /* --search-btn-width: 90px; */
    --icon-height: 20px;
    --gif-height-width: 395px;
    --theme-color: #0D4B60;
    --theme-color-alt: #2a91b3;
    --transition-duration: 0.3s;
    /* --theme-color: #22382f; */
    /* --theme-color-alt: #29b680; */
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F2F3F4;
    font-family: Helvetica, Arial, sans-serif;
    transition: var(--transition-duration);
}

body.dark {
    background-color: #181920;
}

#top-bar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--top-bar-height);
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: var(--transition-duration);
    z-index: 999;
}

#top-bar.styled {
    /* background-color: #d65f8d; */
    background-color: rgb(245, 245, 245);
    border-bottom-color: var(--theme-color);
    /* box-shadow: 0 0 10px var(--theme-color); */
}

#top-bar.styled.dark {
    background-color: #131516;
}

#top-bar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--content-width);
}

.top-bar-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color);
    width: var(--search-bar-height);
    height: var(--search-bar-height);
    cursor: pointer;
    transition: var(--transition-duration);
}

.top-bar-icon-container:hover {
    color: var(--theme-color-alt);
}

.top-bar-icon {
    height: var(--icon-height);
    width: auto;
}

#settings-dialog {
    position: fixed;
    top: 58px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-duration);
    border: 1px solid var(--theme-color);
    border-radius: 2px;
    background-color: #fff;
    width: max-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px var(--theme-color);
}

#settings-dialog.open {
    visibility: visible;
    opacity: 1;
}

#settings-dialog.dark-mode {
    background-color: #131516;
}

#settings-dialog.dark-mode .settings-btn {
    border-bottom-color: #20212b;
    background-color: #131516;
}

#settings-dialog.dark-mode *:hover {
    background-color: #20212b;
}

.settings-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;
    width: 220px;
    border-bottom: 1px solid #eee;
    transition: var(--transition-duration);
    cursor: pointer;
    user-select: none;
}

.settings-btn:last-child {
    border-bottom: none;
}

.settings-btn:hover {
    background-color: #eee;
}

.settings-btn:hover .toggle-switch-icon,
.settings-btn:hover .settings-btn-text {
    color: var(--theme-color-alt);
}

.settings-btn-text {
    transition: var(--transition-duration);
    margin-right: 15px;
    color: var(--theme-color);
    font-size: 14px;
}

.toggle-switch-icon {
    color: var(--theme-color);
    transition: var(--transition-duration);
    height: var(--icon-height);
    width: auto;
}

form {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    height: var(--search-bar-height);
    width: var(--content-width);
    max-width: 795px;
}

form>* {
    font-size: 16px;
    margin: 0;
}

#input-container {
    box-sizing: border-box;
    height: var(--search-bar-height);
    width: 100%;
    border: 2px solid var(--theme-color);
    border-radius: 2px 0 0 2px;
    color: #33313b;
    transition: var(--transition-duration);
    display: flex;
}

#input-container.input-focus {
    border-color: var(--theme-color-alt);
}

#input-container.dark-mode input,
#input-container.dark-mode #x-icon-container {
    color: #eee;
    background-color: #33313b;
}

input {
    /* height: calc(var(--search-bar-height) - 2px); */
    height: 100%;
    width: 100%;
    border: none;
    /* padding-left: 15px; */
    padding: 0 0 0 15px;
    font-size: 16px;
    background-color: white;
    transition: var(--transition-duration);
}

input:focus {
    outline: none;
    border-color: var(--theme-color-alt);
}

#x-icon-container {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    transition: var(--transition-duration);
}

#x-icon-container:hover #x-icon {
    color: var(--theme-color-alt);
}

#x-icon {
    height: var(--icon-height);
    width: auto;
    transition: var(--transition-duration);
}

#submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: var(--search-bar-height);
    /* width: var(--search-btn-width); */
    padding: 0;
    color: #eee;
    background-color: var(--theme-color);
    border: none;
    border-radius: 0 2px 2px 0;
    transition: var(--transition-duration);
}

#submit-btn:focus {
    outline: none;
}

#submit-btn:hover {
    /* box-shadow: 0 0 0.5vw #33313b; */
    background-color: var(--theme-color-alt);
}

#magnifying-glass-icon {
    height: var(--icon-height);
    width: auto;
    padding: 0 22px;
}

#error-message {
    margin: 50px 0 20px;
    text-align: center;
    color: rgb(100, 100, 100);
}

#spinner {
    height: 100px;
    color: var(--theme-color);
    position: absolute;
    top: calc(50vh - 50px);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 92vh accounts for 5vh padding-top and 3vh footer height: */
    height: calc(92vh - var(--top-bar-height));
    overflow-y: scroll;
    /* position: absolute; */
    padding-top: 5vh;
    width: 100vw;
}

#gifs-grid {
    display: grid;
    grid-gap: 5px;
    column-gap: 5px;
    grid-template-columns: repeat(auto-fill, var(--gif-height-width));
    user-select: none;
    /* width is set using JS in gif-content.js */
}

#load-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(var(--gif-height-width)/4);
    width: calc(var(--gif-height-width) - 4px);
    max-width: calc(var(--content-width) - 4px);
    background-color: var(--theme-color);
    color: var(--theme-color);
    border: none;
    border-radius: 3px;
    margin: 50px 0;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition-duration);
    user-select: none;
    overflow: hidden;
}

#load-button:hover {
    background-color: var(--theme-color-alt);
}

#load-button:hover:before {
    height: 0;
}

#load-button:hover:after {
    width: 0;
}

#load-button:hover #load-button-text {
    color: var(--theme-color-alt);
    animation-play-state: paused;
}

#load-button:before,
#load-button:after {
    content: '';
    position: absolute;
    background-color: #F2F3F4;
    transition: background-color var(--transition-duration), width 0.5s ease, height 0.5s ease;
}

#load-button:before {
    width: 110%;
    height: calc(100% - 40px);
}

#load-button:after {
    width: calc(100% - 40px);
    height: 110%;
}

#load-button-text {
    z-index: 99;
    color: var(--theme-color);
    font-size: 24px;
    letter-spacing: 2px;
    transition: var(--transition-duration);
    animation: load-btn-text 1.5s linear alternate infinite;
}

#load-button-animation-span {
    position: absolute;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    background-color: #F2F3F4;
    transition: var(--transition-duration);
    z-index: 80;
}

#load-button.dark-mode:before,
#load-button.dark-mode:after,
#load-button-animation-span.dark-mode {
    background-color: #181920;
}

@keyframes load-btn-text {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.6);
    }
}

.gif {
    box-sizing: border-box;
    height: var(--gif-height-width);
    width: var(--gif-height-width);
    /* max-width limited to 90vw for narrow (phone) screens:  */
    max-width: var(--content-width);
    object-fit: cover;
    cursor: pointer;
    border: 1px solid var(--theme-color);
    box-shadow: 0 0 1px var(--theme-color);
    z-index: 2;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 3vh;
    display: flex;
    align-items: center;
}

#attribution {
    margin-left: 2vw;
    font-size: 9px;
    color: var(--theme-color);
}

@media (max-width: 600px) {
    :root {
        --top-bar-height: 55px;
        --search-bar-height: 40px;
        --icon-height: 18px;
    }
}

@media (max-width: 500px) {
    input {
        font-size: 15px;
        padding-left: 8px;
    }
}