:root {
    --content-width: 90vw;
    --top-bar-height: 70px;
    --search-bar-height: 50px;
    --icon-height: 20px;
    --gif-height-width: 395px;
    --theme-color: #0D4B60;
    --theme-color-alt: #2a91b3;
    --transition-duration: 0.3s;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F2F3F4;
    font-family: Helvetica, Arial, sans-serif;
    transition: var(--transition-duration);
}

body.dark {
    background-color: #181920;
}

@media (max-width: 600px) {
    :root {
        --top-bar-height: 55px;
        --search-bar-height: 40px;
        --icon-height: 18px;
    }
}

@media (max-width: 500px) {
    input {
        font-size: 15px;
        padding-left: 8px;
    }
}